
_spt_completions()
{
    if [[ "${#COMP_WORDS[@]}" -eq "2" ]]; then
        COMPREPLY=($(compgen -W "{{ module_names }}" "${COMP_WORDS[1]}"));
    fi
    if [[ "${#COMP_WORDS[@]}" -eq "3" ]]; then
        case ${COMP_WORDS[1]} in
{%- for module in modules %}
            {{ module.name }})
                COMPREPLY=($(compgen -W "{{ module.command_names_joined_space }}" "${COMP_WORDS[2]}"));
            ;;
{%- endfor %}
        esac
    fi
    if [[ "${#COMP_WORDS[@]}" -eq "4" ]]; then
        case ${COMP_WORDS[1]} in
{%- for module in modules %}
            {{ module.name }})
                case ${COMP_WORDS[2]} in
                    {{ module.command_names_joined_bar }})
                        echo ''
                        spt {{ module.name }} ${COMP_WORDS[2]} --help
                        echo '<press enter>'
                    ;;
                esac
            ;;
{%- endfor %}
        esac
    fi
}

complete -F _spt_completions spt
