<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
<name replace-wildcards="yes">%h My custom database service</name>
<service>
<type>_http._tcp</type>
<port>5432</port>
</service>
</service-group>