check-docker-daemon-running
check-for-docker-credentials
data-loaded-image-1
data-loaded-image-1and2
development-image
dist/**
status_code

spatialprofilingtoolbox/*/Dockerfile
spatialprofilingtoolbox/*/docker.built
spatialprofilingtoolbox/*/requirements.txt
spatialprofilingtoolbox/*/specific_requirements.txt

spatialprofilingtoolbox/db/data_model/schema.sql
spatialprofilingtoolbox/db/initialize_schema.sql

spatialprofilingtoolbox/entry_point/spt-completion.sh
spatialprofilingtoolbox/entry_point/venv/**

image_assets/**