[MASTER]
disable=
    C0116, R0903
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"
extension-pkg-whitelist=pydantic

[BASIC]
good-names=df, i, j, k
