<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="{{ script_file }}"></script>
</head>
<body onload="setup()">
<div class="displayablecontentcontainer">
<h3>Phenotype fractions in pathology data measurement studies</h3>
<div class="more-info-button">[<span id="phenotype-summary-about-button">+ info</span>]</div>
<div id="phenotype-summary-about-text" class="about-text" style="display:none;">
<p>
<b>Statistics</b>. This page displays some summary statistics of the fraction of cells, in given specimens, displaying a given signature, whether defined by a single marker or by a composite of multiple markers defining a phenotype, with or without specialization to slides with specific assessment/diagnoses. The statistics shown are:
</p>
<div>
<ul>
<li>the mean over the specimen set</li>
<li>the standard deviation over the specimen set</li>
<li>the maximum and minimum value achieved</li>
<li>the specimens (slides) achieving the extrema</li>
</ul>
</div>
<p>
<b>Data modality</b>. This system is appropriate for cell data obtained with multiplexed imaging, flow cytometry, single-cell RNA sequencing, or similar.
</p>
<p>
<b>System</b>. This page displays some summary information about cell-level pathology data stored in a PostgresQL database hosted at {{ host }}. The database schema is highly normalized, with only functional relations, and precise definitions of the entities and relations documented <a href="https://adiframework.com/docs_site/pathology_quick_reference.html">here</a>. Views of the database are served by a FastAPI server, with a read-only API documented <a href="https://{{ api_url }}/docs">here</a>.
</p>
<p>
<b>Performance</b>. It takes about 4 minutes per million cells to load datasets into the database, and about 2.5 minutes per 100 cases (i.e. rows as shown below) to refresh the summary statistics.
</p>
</div>
<br/>
<div id="study-selector" class="custom-select">
  <select>
    <option value="0">Select study: </option>
  </select>
</div>
<br/>
<div class="simpleemphasis" id="rowcountbox" style="display:none">
<span id="rowcounter"></span> rows
</div>
<br/>
<table class="statstable" id="fractionstable">
</table>
</div>
<div id="cached-names" style="display:none" hascache="false">cached JSON response</div>
</body>
</html>