<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="{{ script_file }}"></script>
</head>
<body onload="setup()">
<div class="displayablecontentcontainer">
<h3>Phenotype fractions in pathology data measurement studies</h3>
<div id="study-selector" class="custom-select">
  <select>
    <option value="0">Select study: </option>
  </select>
</div>
<br/>
<div class="simpleemphasis" id="rowcountbox" style="display:none">
<span id="rowcounter"></span> rows
</div>
<br/>
<table class="statstable" id="fractionstable">
</table>
</div>
<div id="cached-names" style="display:none" hascache="false">cached JSON response</div>
</body>
</html>