.retrieving-selector {
    position: relative;
    max-width: 500px;
}

.retrieving-selected {
  background-color: lightblue;
}

.retrieving-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
}

.retrieving-selected.select-arrow-active:after {
  border-color: transparent transparent #000 transparent;
  top: 7px;
}

.retrieving-select-items div,.retrieving-selected {
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.retrieving-select-items {
  position: absolute;
  background-color: lightblue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.retrieving-select-hide {
  display: none;
}

.retrieving-select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
body {
    font-family: sans-serif;
    font-size: small;
}
div.centerable-content-container {
    margin: auto;
    text-align:  center;
}
div.centerable-content-container table, div.centerable-content-container div{
    margin: 0 auto; 
}
table.stats-table {
    border-collapse: collapse;    
}
table.stats-table td, th {
    padding: 4px;
}
table.stats-table th {
    font-weight:  bold;
    background: lightblue;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
}
table.stats-table td {
    position:  relative;
    background: #fbfbfb;
    z-index: -1;
}
table.stats-table tr:hover td {
    background: #f0f0f0;
}
span.sortbutton {
    color: blue;
    font-size: x-small;
    cursor: pointer;
}
span.sortbutton:hover {
    text-decoration:  underline;
}
.simple-emphasis {
    font-style: italic;
}
div.overlayeffectcontainer {
    position: relative;
}
div.underlay {
    position: absolute;
    height: 100%;
    background: rgba(50, 235, 50, 0.35);
    z-index: 9;
}
div.overlay {
    background: lightgray;
    text-align: right;
    padding: 5px;
}
div.toggleable-text {
    margin: 0 auto; 
    text-align: center;
}
div.show-more-button {
    margin: 0 auto;
}
.clickable-text {
    font-style: italic;
    cursor: pointer;
    color: blue;
    max-height: 9999px;
}
.clickable-text:hover {
    text-decoration: underline;
}
div.toggleable-text p{
    width: 50%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
div.toggleable-text div{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
div.toggleable-text div ul{
    text-align: left;
    margin-left: 20px;
}
div.toggleable-text div ul li{
    text-align: left;
}
div.attributes-table-container {
    margin: 0 auto;
    text-align: center;
}
div.attributes-table-container table{
    margin-left: auto;
    margin-right: auto;
}
div.attributes-table-container table tr td{
    background: #fbfbfb;
    padding: 4px;
}
div.attributes-table-container table tr:hover td{
    background: #f0f0f0;
}
div.attributes-table-container table tr td.key{
    font-weight: bold;
    text-align: right;
}
img.loadinggif{
    margin-left: auto;
    margin-right: auto;
}
.hoverdiv {
    cursor: pointer;
}
.hoverdiv .tooltip {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    width: auto;
}
.hoverdiv:hover .hoverdiv-content {
  display: none;
}
.hoverdiv:hover .tooltip {
    display: inline;
    background: white;
    border: 1px dotted gray;
}
.positives {
    font-weight: bold;
    color: green;
}
.negatives {
    font-style: italic;
    color: gray;
}

