[general]
db_config_file = path/to/db.config
executor = local
sif_file = path/to/sif/file
excluded_host = None

[database visitor]
study_name = name_of_study

[tabular import]
input_path = path/to/input/directory

[cg-gnn]
default_docker_image = tag/of-docker:image
network = name_of_db_docker_network
graph_config_file = path/to/graph.config
cuda = true
upload_importances = false
