[general]
db_config_file = path/to/db.config
container_platform = None
image_tag = latest

[database visitor]
study_name = name_of_study

[tabular import]
input_path = path/to/input/directory

[graph generation]
graph_config_file = path/to/graph.config

[graph plugin]
plugin = cg-gnn or graph-transformer
graph_config_file = path/to/graph.config
cuda = true  # Must be blank or true for graph-transformer
upload_importances = false
