
process.executor = '{{ executor }}'

{% if executor == 'lsf' and excluded_host is defined -%}
process.clusterOptions = '-R select[hname!={{ excluded_host }}]'{% endif %}

{% if sif_file is defined and sif_file|length -%}
singularity.enabled = true
singularity.runOptions = '-B {{ input_path }} -B {{ current_working_directory }}'
process.container = '{{ sif_file }}'{% endif %}

env.workflow_ = '{{ workflow }}'
{% if input_path is defined %}
env.input_path_ = '{{ input_path }}'{% endif %}
{% if file_manifest_filename is defined %}
env.file_manifest_filename_ = '{{ file_manifest_filename }}'{% endif %}

{%- if samples_file is defined and samples_file|length %}
env.samples_file_ = '{{ samples_file }}'{% endif %}

{%- if db_config_file is defined and db_config_file|length %}
env.db_config_file_ = '{{ db_config_file }}'{% endif %}

{%- if study_name is defined and study_name|length %}
env.study_name_ = '{{ study_name }}'{% endif %}

{%- if subjects_file is defined and subjects_file|length %}
env.subjects_file_ = '{{ subjects_file }}'{% endif %}

{%- if study_file is defined and study_file|length %}
env.study_file_ = '{{ study_file }}'{% endif %}

{%- if diagnosis_file is defined and diagnosis_file|length %}
env.diagnosis_file_ = '{{ diagnosis_file }}'{% endif %}

{%- if interventions_file is defined and interventions_file|length %}
env.interventions_file_ = '{{ interventions_file }}'{% endif %}

{%- if channels_file is defined and channels_file|length %}
env.channels_file_ = '{{ channels_file }}'{% endif %}

{%- if phenotypes_file is defined and phenotypes_file|length %}
env.phenotypes_file_ = '{{ phenotypes_file }}'{% endif %}

{%- if strata is defined %}
env.strata_ = '{{ strata }}'{% endif %}

{%- if validation_data_percent is defined %}
env.validation_data_percent_ = '{{ validation_data_percent }}'{% endif %}

{%- if test_data_percent is defined %}
env.test_data_percent_ = '{{ test_data_percent }}'{% endif %}

{%- if disable_channels is defined %}
env.disable_channels_ = '{{ disable_channels }}'{% endif %}

{%- if disable_phenotypes is defined %}
env.disable_phenotypes_ = '{{ disable_phenotypes }}'{% endif %}

{%- if roi_side_length is defined %}
env.roi_side_length_ = '{{ roi_side_length }}'{% endif %}

{%- if cells_per_slide_target is defined %}
env.cells_per_slide_target_ = '{{ cells_per_slide_target }}'{% endif %}

{%- if target_name is defined %}
env.target_name_ = '{{ target_name }}'{% endif %}

{%- if in_ram is defined %}
env.in_ram_ = '{{ in_ram }}'{% endif %}

{%- if batch_size is defined %}
env.batch_size_ = '{{ batch_size }}'{% endif %}

{%- if epochs is defined %}
env.epochs_ = '{{ epochs }}'{% endif %}

{%- if learning_rate is defined %}
env.learning_rate_ = '{{ learning_rate }}'{% endif %}

{%- if k_folds is defined %}
env.k_folds_ = '{{ k_folds }}'{% endif %}

{%- if explainer_model is defined %}
env.explainer_model_ = '{{ explainer_model }}'{% endif %}

{%- if merge_rois is defined %}
env.merge_rois_ = '{{ merge_rois }}'{% endif %}

{%- if upload_importances is defined %}
env.upload_importances_ = '{{ upload_importances }}'{% endif %}

{%- if random_seed is defined %}
env.random_seed_ = '{{ random_seed }}'{% endif %}
