[DEFAULT]

SINGLE_CELL_DATABASE_HOST = 127.0.0.1
SINGLE_CELL_DATABASE_PORT = 5432
SINGLE_CELL_DATABASE_USER = postgres
SINGLE_CELL_DATABASE_PASSWORD = postgres

COUNTS_SERVER_HOST = 127.0.0.1
COUNTS_SERVER_PORT = 8016

API_SERVER_HOST = 127.0.0.1
API_SERVER_PORT = 8080

PROXY_HOST = 127.0.0.1
PROXY_PORT = 8000
PROXY_INTERNET_EXPOSED_PORT= 80
