@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/KFOkCnqEu92Fr1Mu52xP.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/KFOmCnqEu92Fr1Me5Q.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/KFOlCnqEu92Fr1MmEU9vAw.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/KFOlCnqEu92Fr1MmWUlvAw.ttf") format("truetype");
}
@font-face {
  font-family: "spt_icons";
  src: url("/spt_icons_extended.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffb549 rgba(255, 255, 255, 0);
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffb549;
  border-radius: 6px;
}

.customIcon {
  font-family: "spt_icons";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Roboto";
}

@media (min-width: 1024px) {
  .router-content {
    width: calc(100% - 330px);
  }
}

@media (max-width: 1024px) {
  .router-content {
    height: calc(100vh - 80px);
  }
}

.hoverable {
  width: calc(100vw - 650px);
  transition: all;
  transition: all;
  transition-duration: 0.5s, 0.5s;
}

.hoverable:hover {
  transition: all;
  transition-duration: 0.5s, 0.5s;
  width: calc(100vw + 60px);
}

.navigationButtonActive::before {
  right: 0;
  top: -40px;
  position: absolute;
  content: " ";
  width: 20px;
  height: 40px;
  background-color: transparent;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 20px 0 0 #ffd392;
  transition: all;
  transition-duration: 0.5s, 0.5s;
}
.navigationButtonActive::after {
  right: 0;
  bottom: -40px;
  position: absolute;
  content: " ";
  width: 20px;
  height: 40px;
  background-color: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -20px 0 0 #ffd392;
  transition: all;
  transition-duration: 0.5s, 0.5s;
}

.hovertext {
  position: relative;
}
.hovertext:hover {
  cursor: pointer;
}
.hovertext:hover::after {
  content: attr(data-title);
  font-size: 0.6em;
  padding: 2px;
  width: max-content;
  border: 1px solid gray;
  border-style: dotted;
  position: absolute;
  top: 75%;
  left: 30px;
  background: #d0d0dd;
  color: black;
  opacity: 90%;
  z-index: 2;
}

.v-text > span {
  vertical-align: inherit;
  margin-bottom: 5px;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #1c2b56;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #1c2b56 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.menu span {
  display: block;
  background-color: #1c2b56;
  width: 25px;
  height: 4px;
  margin: 4px auto;
  border-radius: 2px;
  transition: all;
  transition-duration: 0.5s, 0.5s;
}
.menuOpen span:first-child {
  transform: rotate(45deg) translate(6px, 5px);
  transition: all;
  transition-duration: 0.5s, 0.5s;
}
.menuOpen span:nth-child(2) {
  opacity: 0;
  transform: translate(-20px);
  transition: all;
  transition-duration: 0.5s, 0.5s;
}
.menuOpen span:last-child {
  transform: rotate(-45deg) translate(6px, -5px);
  transition: all;
  transition-duration: 0.5s, 0.5s;
}

.containScreen {
  height: calc(100vh - 24px);
}

@media (max-width: 1024px) {
  .containScreen {
    height: calc(100vh - 110px);
  }
}
