<html>
<head>
<style>
table.logreport td, table.logreport th{
    font-family: sans-serif;
    padding: 10px;
}
table.logreport th{
    font-weight: bold;
    background: #e2e2e2;
}
table.logreport td{
    text-align: left;
    background: #efefef;
}
span.mdopener:hover {
    text-decoration:  underline;
    cursor:  pointer;
}
span.mdopener {
    color:  blue;
}
</style>
<script>
base64_contents = [
    {% for c in base64_contents %}
    "{{ c }}",
    {%- endfor %}
];
function open_performance_report(index)
{
    var myWindow = window.open("");
    myWindow.document.write("<pre>" + atob(base64_contents[index]) + "<pre>");
}
</script>
</head>
<body>

<table class="logreport">
<tr>
{% for entry in header%}
<th>{{ entry }}</th>
{%- endfor %}
</tr>
{% for row in rows -%}
    <tr>
    {% for entry in row -%}
        <td>
        {% if loop.last -%}
            <span class="mdopener" onclick="open_performance_report({{ entry }})">md</a>
        {%- else -%}
            {{ entry }}
        {%- endif %}
        </td>
    {%endfor %}
    </tr>
{%- endfor %}
</table>
</body>
</html>
