
process.executor = '{{ executor }}'
{% if executor == 'lsf' and excluded_host is defined -%}
process.clusterOptions = '-R select[hname!={{ excluded_host }}]'
{%- endif %}
{% if sif_file is defined and sif_file|length -%}
singularity.enabled = true
singularity.runOptions = '-B {{ input_path }}'
singularity.autoMounts = true

process.container = '{{ sif_file }}'
{%- endif %}

env.workflow_ = '{{ workflow }}'
env.input_path_ = '{{ input_path }}'
env.file_manifest_filename_ = '{{ file_manifest_filename }}'
