
CREATE VIEW quality_control_report AS
SELECT ...

## number of slides
## number of cells
## average number of cells per slide


## for each phenotype (elementary and composite):

## fraction of cells positive
SELECT
    all_cells.marker_symbol as phenotype,
    CAST(100 * number_positive / CAST(number_all_cells AS FLOAT) AS NUMERIC(6, 4)) as percent_positive,
    'A - elementary' as kind
FROM
    (
    SELECT
        cs.symbol as marker_symbol,
        COUNT(*) as number_all_cells
    FROM
        expression_quantification eq
        LEFT JOIN
            chemical_species cs
        ON
            cs.identifier = eq.target
    GROUP BY
        cs.symbol
    ) AS all_cells
LEFT JOIN
    (
    SELECT
        cs.symbol as marker_symbol,
        COUNT(*) as number_positive
    FROM
        expression_quantification eq
        LEFT JOIN
            chemical_species cs
        ON
            cs.identifier = eq.target
        WHERE
            eq.discrete_value = 'positive'
    GROUP BY
        cs.symbol
    ) AS positives_only
ON
    positives_only.marker_symbol = all_cells.marker_symbol

UNION

SELECT
    cell_phenotype.symbol as phenotype,
    CAST(100 * phenotype_frequency.frequency / CAST( (SELECT COUNT(*) FROM histological_structure) AS FLOAT) AS NUMERIC(6, 4)) as percent_positive,
    'B - composite' as kind
FROM
    (
    SELECT
        satisfied.cell_phenotype_identifier as cell_phenotype_identifier,
        COUNT(*) as frequency
    FROM
        (
        SELECT
            eq.histological_structure,
            cpc.cell_phenotype as cell_phenotype_identifier,
            COUNT(*) as number_criteria_satisfied
        FROM
            expression_quantification eq
        LEFT JOIN
            cell_phenotype_criterion cpc
        ON
            eq.target = cpc.marker
        WHERE
            cpc.polarity = eq.discrete_value
        GROUP BY
            eq.histological_structure,
            cpc.cell_phenotype
        ) AS satisfied
    LEFT JOIN
        (
        SELECT
            cpc.cell_phenotype as cell_phenotype_identifier,
            COUNT(*) as number_all_criteria
        FROM
            cell_phenotype_criterion cpc
        GROUP BY
            cpc.cell_phenotype
        ) AS all_criteria
    ON
        satisfied.cell_phenotype_identifier = all_criteria.cell_phenotype_identifier
    WHERE
        satisfied.number_criteria_satisfied = all_criteria.number_all_criteria
    GROUP BY
        satisfied.cell_phenotype_identifier
    ) AS phenotype_frequency
LEFT JOIN cell_phenotype
ON
    phenotype_frequency.cell_phenotype_identifier = cell_phenotype.identifier 

ORDER BY
    kind,
    phenotype
;


## average fraction, over slides

## standard deviation of fraction, over slides

## all of the above under compartmental or outcome assignment specialization

## extrema, high and low, sample identifier and value, for all of the above
