[general]
db_config_file_path = path/to/db.config
study_name = Study name in SPT database
random_seed = None

[extract]
strata = 1 2 3

[graph-generation]
validation_data_percent = 20
test_data_percent = 20
use_channels = true
use_phenotypes = true
roi_side_length = None
cells_per_roi_target = 10000
max_cells_to_consider = 100000
target_name = None
exclude_unlabeled = false
n_neighbors = 5
threshold = None

[upload-importances]
cohort_stratifier = None
