[general]
study_name = Melanoma intralesional IL2

[plot-importance-fractions]
host_name = http://smprofiler.io/api
phenotypes = Tumor, Adipocyte or Langerhans cell, Natural killer cell, CD4+ T cell, Nerve, B cell, CD4+/CD8+ T cell, CD4+ regulatory T cell, CD8+ natural killer T cell, CD8+ regulatory T cell, CD8+ T cell, Double negative regulatory T cell, T cell/null phenotype, Natural killer T cell, CD4+ natural killer T cell
plugins = cg-gnn, graph-transformer
figure_size = 11, 8
orientation = horizontal
[plot-importance-fractions.cohort0]
index_int = 1
label = Non-responder
[plot-importance-fractions.cohort1]
index_int = 3
label = Responder
