[general]
study_name = Urothelial ICI

[plot-importance-fractions]
host_name = http://oncopathtk.org/api
phenotypes = Tumor, CD4- CD8- T cell, T cytotoxic cell, T helper cell, Macrophage, intratumoral CD3+ LAG3+, Regulatory T cell
plugins = cg-gnn, graph-transformer
figure_size = 14, 5
orientation = vertical
[plot-importance-fractions.cohort0]
index_int = 1
label = Responder
[plot-importance-fractions.cohort1]
index_int = 2
label = Non-responder
