[general]
db_config_file = ../db/.spt_db.config.container

[database-visitor]
study_name = Melanoma intralesional IL2

[cg-gnn]
default_docker_image = nadeemlab-development/spt-development:latest
network = workflow_isolated_temporary_test
graph_config_file = module_tests/.graph.config
cuda = false
upload_importances = false
